<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>Axis Library</title>
</head>

<body>
    <!--Navigation Bar-->
    <div class="navbar">
        <a href="../">HomePage</a>
        <a href="../books.html">Books Page</a>
        <a href="../bookslist.html">Book List</a>
        <a href="../contacts.html">Contact Us</a>
        <a href="../survey.html">Survey Page</a>
    </div>
    <br>
    <div class="title">
        <center>
            <h1>Axis Library</h1>
        </center>
    </div>
    <br>