<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Axis Library - Book Details </title>
    <link rel="stylesheet" href="styles.css">
</head>

<!-- Created by Mangesh Bhattacharya -->

<body>
    <div class="main_box">
        <div class="sidebar_menu">
            <div class="logo">
                <a href="Index.html">Axis Library</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="books.html">Books</a></li>
                    <li><a href="book1.html">Book 1</a></li>
                    <li><a href="book2.html">Book 2</a></li>
                    <li class="active"><a href="book3.html">Book 3</a></li>
                </ul>
            </div>
        </div>
        <div style="text-align: center;">
            <ul>
                <li><a href="book3.html"> PHP Guide </a></li>
                <img src="public\image\Php.jpeg" alt="PHP Guide" width="500px" height="600px" usemap="#PHP Guide">
                <map name="PHP Guide">
                    <area shape="rect" coords="0,0,151,200" href="book3.html" target="_blank" alt="PHP Guide">
                    <br></br>
            </ul>
            <div class="container">
                <div
                    style="border-radius: 10px; background: beige; padding-bottom: 25px; padding-left: 80px; padding-right: 95px; margin-left: 5px; margin-right: 30px; margin-bottom: 10px;">
                    <br>Author: Jon Duckett</br>
                    <br>ISBN: 978-111914922-3</br>
                    <br>Pages: 672</br>
                    <br>Published: 2022</br>
                    <br>Language: English</br>
                    <br>Genre: Web Development</br>
                    <br>
                    <h2> Details</h2>
                    <div style="padding-right: 30px; margin-left: 20%; margin-right: 35%; text-align: justify">
                        <br>This full-color book is packed with inspiring code examples, infographics and photography
                        that
                        not only teach you the PHP language and how to work with databases, but also show you how to
                        build
                        new applications from scratch. </br>
                        <br>It demonstrates practical techniques that you will recognize from popular sites where
                        visitors
                        can:</br>
                        <br>Many books teaching HTML and CSS are dry and only written for those who want to become
                        programmers, which is why this book takes an entirely new approach. </p></br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>