<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Axis Library - Book Details </title>
    <link rel="stylesheet" href="styles.css">
</head>

<!-- Created by Mangesh Bhattacharya -->

<body>
    <div class="main_box">
        <div class="sidebar_menu">
            <div class="logo">
                <a href="Index.html">Axis Library</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="books.html">Books</a></li>
                    <li><a href="book1.html">Book 1</a></li>
                    <li class="active"><a href="book2.html">Book 2</a></li>
                    <li><a href="book3.html">Book 3</a></li>
                </ul>
            </div>
        </div>
        <div style="text-align: center;">
            <ul>
                <li><a href="book2.html"> JavaScript & JQuery Guide </a></li>
                <img src="image/Java.jpeg" alt="JavaScript Guide" width="500px" height="600px"
                    usemap="#JavaScript Guide">
                <map name="JavaScript Guide">
                    <area shape="rect" coords="0,0,151,200" href="book2.html" target="_blank" alt="JavaScript Guide">
                    <br></br>
            </ul>
            <div class="container">
                <div
                    style="border-radius: 10px; background: beige; padding-bottom: 25px; padding-left: 80px; padding-right: 95px; margin-left: 5px; margin-right: 30px; margin-bottom: 10px;">
                    <br>Author: Jon Duckett</br>
                    <br>ISBN: 978-111853164-8</br>
                    <br>Pages: 640</br>
                    <br>Published: 2014</br>
                    <br>Language: English</br>
                    <br>Genre: Web Development<br>
                    <br></br>
                    <h2>Details</h2></br>
                    <div style="padding-right: 30px; margin-left: 20%; margin-right: 35%; text-align: justify">
                        <p>Basic programming concepts - assuming no prior knowledge of programming beyond an ability to
                            create a web page using HTML & CSS.</p>
                        <br>
                        <p>Core elements of the JavaScript language - so you can learn how to write your own scripts
                            from scratch</p>
                        <br>
                        <p>jQuery - which will allow you to simplify the process of writing scripts</p>
                        <br>
                        <p>How to recreate techniques you will have seen on other web sites such as sliders, content
                            filters, form validation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>