<div class="body" style="padding: 20% 25%;">
    <table>
        <tr>
            <td style="width: 30%;"><a href="./books/"><img src="../public/images/html.png" style="max-width: 80%;"></a>
                <p>
                    <center>
                        <h3>HTML & CSS</h3>
                    </center>
                </p>
            </td>
            <td style="width: 30%;"><a href="./books/"><img src="../public/images/Java.png" style="max-width: 80%;"></a>
                <p>
                    <center>
                        <h3>JavaScript & JQuery</h3>
                    </center>
                </p>
            </td>
            <td style="width: 30%;"><a href="./books/"><img src="../public/images/Php.png" style="max-width: 80%;"></a>
                <p>
                    <center>
                        <h3>PHP & MySQL</h3>
                    </center>
                </p>
            </td>
        </tr>
    </table>
</div>