<div class="body" style="padding: 20% 25%;">
    <table>
        <tr>
            <td style="width: 30%;"><a href="./books/6398f7fd51018fae1c85556c"><img src="../public/images/html.png"
                        style="max-width: 80%;"></a>
                <p>
                    <center>
                        <h3>HTML & CSS</h3>
                    </center>
                </p>
            </td>
            <td style="width: 30%;"><a href="./books/6398fc0b51018fae1c855571"><img src="../public/images/Java.png"
                        style="max-width: 80%;"></a>
                <p>
                    <center>
                        <h3>JavaScript & JQuery</h3>
                    </center>
                </p>
            </td>
            <td style="width: 30%;"><a href="./books/6398fc4251018fae1c855572"><img src="../public/images/Php.png"
                        style="max-width: 80%;"></a>
                <p>
                    <center>
                        <h3>PHP & MySQL</h3>
                    </center>
                </p>
            </td>
        </tr>
    </table>
</div>
