<div class="body" style="width: 75vh;">
    <h2> Welcome to Axis Library.</h2>
    <br>
    <p> We are a library that provides books for free. We have a wide range of books for you to choose from. We have
        books on
        HTML, Java, PHP, and many more. We also have books on different topics such as
        science, history, and many more. We hope you enjoy your time here. </p>
    <br>
    <img src="/public/images/info.png" style="max-width: 80vh; max-height: 80vh;" />
    <p> Our hours are Monday to Friday from 9:00 AM to 5:00 PM </p>
</div>