<%- include('./partials/layout.ejs') %>
    <div class="main" style="height: 75%;">
        <center>
            <main>
                <%- body %>
            </main>
        </center>
    </div>

    </html>