<div class="body" style="height: 75%;">
    <h2>Survey:</h2>
    <form action="">
        <h3> Name: </h3>
        <input type="text" name="name" size="55%" required="required" />
        <h3> Email: </h3>
        <input type="email" name="email" size="55%" required="required" />
        <h3> Phone Number: </h3>
        <input type="tel" name="phone" size="55%" required="required" />
        <h3> How likely are you to recommend this Library to your colleagues? </h3>
        <input type="radio" name="recommend" value="value-likely" checked="checked" /> Likely
        <input type="radio" name="recommend" value="value-unlikely" /> Unlikely
        <input type="radio" name="recommend" value="value-unsure" /> Not a chance
        <br>
        <br>
        <input type="submit" name="submit" value="Submit" />
    </form>
</div>